@model WebApplication.Models.LogViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <main class="register">
        <div class="card" style="width: 250px">
            <h3>Вход в систему</h3>
            @Html.ValidationSummary(true)
            <div>
                @Html.LabelFor(model => model.UserName)
                <div>
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.RememberMe)
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
            <input type="submit" value="Log In" />
        </div>
    </main>
}