@model WebApplication.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: 800px">
    <img src="@Html.DisplayFor(modelitem => modelitem.Img)" style="height: 200px" />
    <div class="spacing">
        <div>@Html.ActionLink(Model.Title, "Details", "Game", new { id = Model.Id }, new { style = "color: blue" })</div>
        <div>@Html.DisplayFor(modelItem => modelItem.Publisher)</div>
        <div>@Html.ActionLink(Model.Genre.Title, "Genre", "Game", new { id = Model.Id }, new { style = "color: blue" })</div>
        <div>@Html.DisplayFor(modelItem => modelItem.Date)</div>
        <br />
        
        <div>
            Операционная система:
            <br/>@Model.OS.Title
        </div>
        <div>
            Процессор:
            <br />@Model.CPU.Title
        </div>
        <div>
            Объем ОЗУ. @Model.RAM.Title Гб
        </div>
        <div>
            Видеокарта:
            <br />@Model.VideoCard.Title
        </div>
        <div>
            DirectX:
            <br />@Model.DirectX.Title
        </div>
        <div>
            HDD: @Model.HDD Гб
        </div>
        <br/>
        <div>
            Цена:
            <br/>
            @if (@Model.Discount > 0)
            {
                @: <del>@Html.DisplayFor(modelItem => modelItem.Price)р.</del>
                <span style="color: green; font-weight: bold">@((@Model.Price*((100 - @Model.Discount)/100.0)).ToString())р.</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => modelItem.Price)@:р.
            }
        </div>
        <div>
            <br />
            <button class="inline" onclick="location.href = '@Url.Action("Create", "Order", new {id = Model.Id})'">Купить</button>
        </div>
    </div>
</div>
