@model WebApplication.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoCard.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoCard.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectX.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectX.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
