@model IEnumerable<WebApplication.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPU.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectX.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoCard.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HDD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPU.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectX.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoCard.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HDD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
            @Html.ActionLink("Купить","Create", "Order", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
