@model IEnumerable<WebApplication.Models.Game>

<main class="home">
    <section>
        @foreach (var item in Model)
        {
            <div class="card" style="padding-right: 50px">
                <img src="@Html.DisplayFor(modelitem => item.Img)" style="height: 235px" />
                <div class="spacing">
                    <div>@Html.ActionLink(item.Title, "Details", "Game", new { id = item.Id }, new { style = "color: blue" })</div>
                    <div>@Html.DisplayFor(modelItem => item.Publisher)</div>
                    <div>@Html.ActionLink(item.Genre.Title, "Genre", "Game", new { id = item.Id }, new { style = "color: blue" })</div>
                    <div>@Html.DisplayFor(modelItem => item.Date)</div>
                    <br />
                    <div>
                        Цена:
                        <br/>
                        @if (@item.Discount > 0)
                        {
                            @: <del>@Html.DisplayFor(modelItem => item.Price)р.</del>
                            <span style="color: green; font-weight: bold">@((@item.Price*((100 - @item.Discount)/100.0)).ToString())р.</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Price)@:р.
                        }
                    </div>
                    @if (@item.Discount > 0)
                    {
                        <div style="color: green; font-weight: bold">Cкидка: @Html.DisplayFor(modelItem => item.Discount)%</div>
                    }
                    <div>
                        <br />
                        <button class="inline" onclick="location.href = '@Url.Action("Create", "Order", new {id = item.Id})'">Купить</button>
                    </div>
                </div>
            </div>

        }
    </section>
</main>
