<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div>
            @Html.ActionLink("Games.com", "Index", "Game", null, new { @class = "navbar-brand" }) |
            @Html.ActionLink("Новинки 2016", "Novelty", "Game", null, new { @class = "navbar-brand" }) |
            @Html.ActionLink("Скидки", "Discounts", "Game", null, new { @class = "navbar-brand" })
        </div>
        <div class="login">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(@User.Identity.Name, "Me", "Card")
                <span> | </span>
                @Html.ActionLink("Log off", "LogOff", "Admin")
            }
            else
            {
                @Html.ActionLink("Log In", "Login", "Admin")
            }
        </div>
    </header>
    <div class="wrap">
        <nav class="" style="width: 200px; margin-top: 15px; margin-right: 150px">
            @{Html.RenderAction("ShowGenres", "Genre"); }
        </nav>
        @RenderBody()
    </div>
    <img src="http://localhost:15352//Content/back.jpg" id="notebook">

    <footer>
        <div>
            <p>Интернет магазин компьютерных игр, купить ключи Steam, лицензионные игры</p>
            <p>© Сделано в Минске, 2016</p>
        </div>

        <div id="contacts">
            <p>abcdef@gmail.com</p>
            <p>+7 555 555 000</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
