<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div>
            @Html.ActionLink("Games.com", "Index", "Game", null, null) <span> | </span>
            @Html.ActionLink("Новинки 2016", "Novelty", "Game", null, null) <span> | </span>
            @Html.ActionLink("Скидки", "Discounts", "Game", null, null)
        </div>
        <div class="login">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Admin Panel", "Index", "Home")
                    <span> | </span>
                }
                @Html.ActionLink("Log off", "LogOff", "Account")
            }
            else
            {
                @Html.ActionLink("Войти", "Login", "Account")
                 <span> | </span>
                @Html.ActionLink("Регистрация", "Register", "Account")
            }
        </div>
    </header>
    <div class="wrap">
            @{Html.RenderAction("ShowGenres", "Genre"); }
        
        @RenderBody()
    </div>
    <img src="http://localhost:15352//Content/back.jpg" id="notebook">

    <footer>
        <div>
            <p>Интернет магазин компьютерных игр, ключей Steam. Лицензионные игры</p>
            <p>© Сделано в Минске, 2016</p>
        </div>

        <div id="contacts">
            <p>abcdef@gmail.com</p>
            <p>+7 555 555 000</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
