@model WebApplication.Models.Order

@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <main class="register">
        <div class="card" style="width: 400px">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Game)
            @Html.HiddenFor(model => model.GameId)
            @Html.HiddenFor(model => model.Price)
            <div>
                <b>Игра: @Html.ActionLink(Model.Game.Title, "Details", "Game", new {id = Model.GameId}, new {style = "color: blue"})</b> 
            </div>
            <div>
                <b>Цена: @Html.DisplayFor(model => model.Price)</b>
            </div>
            <div>
                @Html.LabelFor(model => model.Name)
                <div>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Phone)
                <div>
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Купить" class="buttonmy" />
                </div>
            </div>
        </div>
    </main>
}

