@model WebApplication.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div>
        <dl class="dl-horizontal" style="padding: 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Game.Title)
            </dt>

            <dd>
                @Html.ActionLink(Model.Game.Title, "Details", "Game", new {id = Model.GameId}, null)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

        </dl>
        <dl>
            <button class="button" onclick="location.href = '@Url.Action("Edit", "Order", new {id = Model.Id})'">Редактировать</button>
            <p></p>
            <button class="button" style="background-color: #d83e2d" onclick="location.href = '@Url.Action("Delete", "Order", new {id = Model.Id})'">Удалить</button>
            <p></p>
            <button class="button" onclick="location.href = '@Url.Action("Index", "Order")'">Назад</button>
        </dl>
    </div>

   
</div>
